{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__CSS_PATH__/stylea.css">
<link rel="stylesheet" type="text/css" href="__STATIC_PATH__/bootstrap/css/bootstrap.css" />
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<script src="__JS_PATH__/jquery.js"></script>
<script src="__JS_PATH__/jquery.mCustomScrollbar.concat.min.js"></script>
<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->


<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品列表示例</h2>
       <a href="product_detail.html" class="fr top_rt_btn add_icon">添加商品</a>
      </div>
      <section class="mtb">
       <select class="select">
        <option id='nimabi'>下拉菜单</option>
        {foreach $erji as $v}
        <option value="{$v['shop_id']}" class="qzz">{$v['shop_name']}</option>
        {/foreach}
       </select>
      </section>
      <table class="table">
       <tr>
        <th>缩略图</th>
        <th>产品名称</th>
        <th>货号</th>
        <th>单价</th>
        <th>精品</th>
        <th>新品</th>
        <th>热销</th>
        <th>库存</th>
        <th>操作</th>
       </tr>
       <div id="list"></div>
    </table>
 </div>
</section>
</body>
</html>
<script>
  // var qzz = document.getElementsByClassName('select')
 var init_id = $('.select  option:nth-child(2)').val();
/*  $('#nimabi').val(init_id);
 init(init_id); */
  $(".select").change(function(e)
{
    var id = $(this).val();
    init(id);

});
function init(id) {
  $('.tmp').remove(); 
  $.get(`g_list?id=${id}`,function (data) {
      $('.table').append(data);
    });
}
</script>
